<div class="container">
  <div class="my-2 row">
    <div class="col-2">Title:</div>
    <div class="col-10"> <%= @film['title'] %></div>
  </div>
  <div class="my-2 row">
    <div class="col-2">Episode Id:</div>
    <div class="col-10"><%= @film['episode_id'] %></div>
  </div>
  <div class="my-2 row">
    <div class="col-2">Opening Crawl:</div>
    <div class="col-10"><%= @film['opening_crawl'] %></div>
  </div>
  <div class="my-2 row">
    <div class="col-2">Director:</div>
    <div class="col-10"> <%= @film['director'] %></div>
  </div>
  <div class="my-2 row">
    <div class="col-2">Producer:</div>
    <div class="col-10"> <%= @film['producer'] %></div>
  </div>
  <div class="my-2 row">
    <div class="col-2">Release Date:</div>
    <div class="col-10"><%= @film['release_date'] %></div>
  </div>
  <div class="my-2 row">
    <div class="col-2">Created:</div>
    <div class="col-10"> <%= @film['created'] %></div>
  </div>
  <div class="my-2 row">
    <div class="col-2">Edited:</div>
    <div class="col-10"> <%= @film['edited'] %></div>
  </div>
  <div class="my-2 row">
    <div class="col-2">URL:</div>
    <div class="col-10"> <%= @film['url'] %></div>
  </div>
  <div class="row mt-3 mb-2">
    <div class="col-2">Characters:</div>
    <div class="col-10"><%= @characters.count %></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="detail-list col-10">
      <% @characters.each do |character| %>
          <div class="character list-item">
            <%= character['name'] %>
            <div class="tooltiptext">
              <span>Height: <%= character['height'] %></span>
              <span>Mass: <%= character['mass'] %></span>
              <span>Hair Colour: <%= character['hair_color'] %></span>
              <span>Skin Colour: <%= character['skin_color'] %></span>
              <span>Eye Colour: <%= character['eye_color'] %></span>
              <span>Birth Year: <%= character['birth_year'] %></span>
            </div>
          </div>
      <% end %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-2">Planets:</div>
    <div class="col-10"><%= @planets.count %></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="detail-list col-10">
      <% @planets.each do |planet| %>
        <div class="list-item"><%= planet['name'] %></div>
      <% end %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-2">Starships:</div>
    <div class="col-10"><%= @starships.count %></div>
  </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="detail-list col-10">
      <% @starships.each do |starship| %>
        <div class="list-item"><%= starship['name'] %></div>
      <% end %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-2">Vehicles:</div>
    <div class="col-10"><%= @vehicles.count %></div>
  </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="detail-list col-10">
      <% @vehicles.each do |vehicle| %>
        <div class="list-item"><%= vehicle['name'] %></div>
      <% end %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-2">Species:</div>
    <div class="col-10"><%= @species.count %></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="detail-list col-10">
      <% @species.each do |species| %>
        <div class="list-item"><%= species['name'] %></div>
      <% end %>
    </div>
  </div>

  <div class="mt-2 mb-4 text-center">
    <%= link_to "Back to Home", root_path, class: "btn btn-primary" %>
  </div>
</div>