<div class="container">
  <div class="my-2">Title: <%= @film['title'] %></div>
  <div class="my-2">Episode Id: <%= @film['episode_id'] %></div>
  <div class="my-2">Opening Crawl: <%= @film['opening_crawl'] %></div>
  <div class="my-2">Director: <%= @film['director'] %></div>
  <div class="my-2">Producer: <%= @film['producer'] %></div>
  <div class="my-2">Release Date: <%= @film['release_date'] %></div>
  <div class="my-2">Created: <%= @film['created'] %></div>
  <div class="my-2">Edited: <%= @film['edited'] %></div>
  <div class="my-2">URL: <%= @film['url'] %></div>

  <div class="mt-3 mb-2">Characters: <%= @characters.count %></div>
  <div class="detail-list">
    <% @characters.each do |character| %>
        <div class="character list-item">
          <%= character['name'] %>
          <div class="tooltiptext">
            <span>Height: <%= character['height'] %></span>
            <span>Mass: <%= character['mass'] %></span>
            <span>Hair Colour: <%= character['hair_color'] %></span>
            <span>Skin Colour: <%= character['skin_color'] %></span>
            <span>Eye Colour: <%= character['eye_color'] %></span>
            <span>Birth Year: <%= character['birth_year'] %></span>
          </div>
        </div>
    <% end %>
  </div>

  <div class="my-2">Planets: <%= @planets.count %></div>
  <div class="detail-list">
    <% @planets.each do |planet| %>
      <div class="list-item"><%= planet['name'] %></div>
    <% end %>
  </div>

  <div class="my-2">Starships: <%= @starships.count %></div>
    <div class="detail-list">
    <% @starships.each do |starship| %>
      <div class="list-item"><%= starship['name'] %></div>
    <% end %>
  </div>

  <div class="my-2">Vehicles: <%= @vehicles.count %></div>
    <div class="detail-list">
    <% @vehicles.each do |vehicle| %>
      <div class="list-item"><%= vehicle['name'] %></div>
    <% end %>
  </div>

  <div class="my-2">Species: <%= @species.count %></div>
  <div class="detail-list">
    <% @species.each do |species| %>
      <div class="list-item"><%= species['name'] %></div>
    <% end %>
  </div>

  <div class="mt-2 mb-4">
    <%= link_to "Back to Home", root_path, class: "btn btn-primary" %>
  </div>
</div>